{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
	<div class="header">
		<div class="base-container">
			<div class="hero-white">
				{% include 'geekshop/includes/inc_main_menu.html' %}
			</div>
		</div>
	</div>

	<section class="main">
		<div class="container">
			<div class="row py-5">
				 <div class="col-md-8">
					 <h2>Корзина</h2>
					 <ul class="list-group list-group-flush">
						{% for cart_item in cart_items %}
							<li class="list-group-item">
								 <div class="row">
									 <div class="col-md-3">
										 <img class="img-fluid" src="/media/{{ cart_item.product__image }}" alt="">
									 </div>
									 <div class="col-md-3">
										 {{ cart_item.product__name }}
									 </div>
									 <div class="col-md-2">{{ cart_item.qty }}</div>
									 <div class="col-md-2">{{ cart_item.product__price }}<span>&#8381;</span></div>
									 <div class="col-md-2">
										 <a href="#" class="btn btn-light">
											 <i class="fa fa-trash"></i>
										 </a>
									 </div>
								 </div>
							 </li>
						 {% endfor %}

					 </ul>
				 </div>

				 <div class="col-md-4">
					 <div class="card">
						 <ul id="totalPrice" class="list-group">
							 <li class="list-group-item">
								 <h4 class="h5">Всего товаров 12 на сумму <span>{{ total_cost }}</span> <span>&#8381;</span></h4>
							 </li>
							 <li class="list-group-item">
								 <button type="button" class="btn btn-secondary">Продолжить</button>
							 </li>
						 </ul>
					 </div>
				 </div>

			</div>
		</div>
	</section>

	<div class="clr"></div>
{% endblock %}