{% load static %}
{% load my_tags %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'geekshop/fonts/font-awesome/css/all.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'geekshop/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'geekshop/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminapp/css/admin.css' %}">
    {% endblock %}

    {% block js %}
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src='{% static 'adminapp/js/admin_script.js' %}'></script>
    {% endblock %}
</head>
<body id="body_block">
    <header class="header" id="header">
        <div class="header_toggler"> <i class='bx bx-menu' id="header_toggler"></i> </div>
        <div class="header_img"><img src="{{ user.avatar|media_folder_users }}" alt=""></div>
    </header>
    <div class="l-navbar" id="nav_block">
        <nav class="nav">
            <div> <a href="{% url 'index' %}" class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i>
                    <span class="nav_logo-name">Admin`ka</span>
                </a>
                <div class="nav_list">

                </div>
            </div>
            <a href="{% url 'auth:logout' %}" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Выход</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light main_wrapper">

    </div>
    <!--Container Main end-->
</body>
</html>
