{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="category_delete">
    {% csrf_token %}
    Уверены, что хотите удалить {{ category.name }}?

    <div class="row mt-4">

        <form action="{% url 'admin_staff:category_delete' category.pk %}" method="post">
            {% csrf_token %}
            <button
                class="btn btn-danger"
                type="submit"
            >
                Удалить
            </button>
            <a href="{% url 'admin_staff:categories' %}">
                <button class="btn btn-outline-danger">
                    Отмена
                </button>
            </a>
        </form>

    </div>

</div>
{% endblock %}