{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Продукты</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                {{ category.name|title }}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Изображение</th>
                            <th>Наименование</th>
                            <th>Краткое описание</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Подробнее</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Изображение</th>
                            <th>Наименование</th>
                            <th>Краткое описание</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Подробнее</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for object in object_list %}
                        <tr
                                {% if not object.is_active %}
                                class="text-secondary"
                                style="--bs-text-opacity: .5;"
                                {% endif %}
                        >
                            <td><img class="img-fluid" src="{{ object.image|media_folder_products }}" alt=""></a></td>
                            <td>{{ object.name }}</a></td>
                            <td>{{ object.short_desc }}</td>
                            <td>{{ object.price }}</td>
                            <td>{{ object.quantity }}</td>
                            <td class="text-center">
                                <a
                                    href="{% url 'admin_staff:product_read' object.pk %}"
                                    class="btn btn-outline-secondary {% if not object.is_active %}disabled{% endif %}"
                                    role="button" tabindex="-1"
                                >
                                    подробнее
                                </a>
                            </td>
                            <td class="text-center">

                                <button type="button" class="btn btn-outline-secondary">
                                    <a href="{% url 'admin_staff:product_update' object.pk %}">
                                        редактировать
                                    </a>
                                </button>
                            </td>
                            <td class="text-center">

                                <a href="{% url 'admin_staff:product_delete' object.pk %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        {% if object.is_active %}
                                        удалить
                                        {% else %}
                                        восстановить
                                        {% endif %}
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'adminapp:product_create' category.pk %}">
                    <button class="btn btn-primary">Создать Товар</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}