{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="product_delete">
    {% csrf_token %}
    Уверены, что хотите удалить {{ product.name }}?

    <div class="row mt-4">

        <form action="{% url 'admin_staff:product_delete' product.pk %}" method="post">
            {% csrf_token %}
            <button
                class="btn btn-danger"
                type="submit"
            >
                Удалить
            </button>
            <a href="{% url 'admin_staff:products' product.category.pk %}">
                <button class="btn btn-outline-danger">
                    Отмена
                </button>
            </a>
        </form>

    </div>

</div>
{% endblock %}