{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Пользователи</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Пользователи
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Адрес эл. почты</th>
                            <th>Персонал сайта</th>
                            <th>Активный</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Адрес эл. почты</th>
                            <th>Персонал сайта</th>
                            <th>Активный</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for object in users %}
                        <tr {% if not object.is_active %}
                                class="text-secondary"
                                style="--bs-text-opacity: .5;"
                            {% endif %}
                        >
                            <td>
                                {{ object.username }}
                            </td>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td>{{ object.email }}</td>
                            <td class="text-center">
                                {% if object.is_staff %}
                                <i class="fa fa-check-circle"></i>
                                {% else %}
                                <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if object.is_active %}
                                <i class="fa fa-check-circle"></i>
                                {% else %}
                                <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'admin_staff:user_update' object.pk %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        редактировать
                                    </button>
                                </a>
                            </td>
                            <td class="text-center">
                                {% if object.is_active %}
                                <a href="{% url 'admin_staff:user_delete' object.pk %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        удалить
                                    </button>
                                </a>
                                {% else %}
                                    <a href="{% url 'admin_staff:user_restore' object.pk %}">
                                        <button type="button" class="btn btn-outline-secondary">
                                            восстановить
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'adminapp:user_create' %}">
                    <button class="btn btn-primary">Создать пользователя</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}