{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
	<div class="hero-white">
		{% include 'geekshop/includes/inc_main_menu.html' %}
	</div>

	<section class="main">
		{% include 'geekshop/includes/inc_category_menu.html' %}

		<div class="catalog">
			<div class="title clearfix">
				<h2>Каталог</h2>
			</div>
			<div class="row justify-content-center">

				{% for product in products %}
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
					<div class="my-3 p-3 rounded card">
						<a href="#"><img class="card-img-top" src="/media/{{ product.image }}" alt=""></a>
						<div class="card-body">
							<a href="#">
								<div class="card-title">
									<strong>{{ product.name|capfirst }}</strong>
								</div>
							</a>
							<h3 class="card-text">{{ product.price }} <span>&#8381;</span> </h3>
							<btn
								onclick="location.href='{% url 'cart:add' product.pk %}'"
								class="btn btn-secondary position-absolute bottom-0 end-0 m-2"
							>
								<i class="fa fa-cart-plus"></i>
							</btn>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>

	<div class="clr"></div>
{% endblock %}
