{% extends 'geekshop/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
	<div class="header">
		<div class="base-container">
			<div class="hero-white">
				{% include 'geekshop/includes/inc_main_menu.html' %}
			</div>
		</div>
	</div>

	<div class="details">
		<div class="base-container">
			<div class="details-products row mb-3">
				<div class="details-slider col-md-6">
					<div class="slider-product">
						<img class="img-fluid" src="{{ product.image|media_folder_products }}">
					</div>
				</div>

				<div class="description col-md-6">
					<h3 class="big-bold">{{ product.name }}</h3>
					<p class="price">{{ product.price }}<span>руб</span></p>
					<a href="{% url 'cart:index' product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						{% for desc in product.split_description %}
							<p>{{ desc|capfirst }}</p>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row my-2">
					<h2 class="col-6">Похожие продукты</h2>
					<a class="col-6 text-end explore" href="{% url 'products:index' %}">
						показать все
						<img src="{% static 'geekshop/img/arrow.png' %}" alt="">
					</a>
				</div>

				<div class="row justify-content-start mb-5 tab-content">

					{% for product in products %}

					<div class="block mb-2">
						<a href="{% url 'products:product' product.id %}">
							<img class="img-fluid" src="/media/{{ product.image }}" alt="">
							<div class="text">
								<p>{{ product.category.name }}</p>
								<img src="{% static 'geekshop/img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name|capfirst }}</h4>
								<p>{{ product.short_desc }}</p>
							</div>
						</a>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>

	<div class="clr"></div>
{% endblock %}
