{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
	<div class="header">
		<div class="base-container">
			<div class="hero-white">
				{% include 'geekshop/includes/inc_main_menu.html' %}
			</div>
		</div>
	</div>

	<div class="details">
		<div class="base-container">
			<div class="details-products row">
				<div class="details-slider col-md-6">
					<div class="slider-product">
						<img src="/media/{{ product.image }}">
					</div>
				</div>

				<div class="description col-md-6">
					<h3 class="big-bold">{{ product.name }}</h3>
					<p class="price">{{ product.price }}<span>руб</span></p>
					<a href="{% url 'cart:index' product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						{% for desc in product.split_description %}
							<p>{{ desc|capfirst }}</p>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<h2 class="col-6">Похожие продукты</h2>
					<a class="col-6 text-end" href="{% url 'products:index' %}">
						показать все
						<img src="{% static 'geekshop/img/arrow.png' %}" alt="">
					</a>
				</div>

				<div class="re-prods row justify-content-start">

					{% for product in products %}
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="my-3 p-3 rounded card">
								<a href="{% url 'products:product' product.id %}">
									<img class="card-img-top" src="/media/{{ product.image }}" alt="">
								</a>
								<div class="card-body">
									<a href="{% url 'products:product' product.id %}">
										<div class="card-title">
											<strong>{{ product.name|capfirst }}</strong>
										</div>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>

	<div class="clr"></div>
{% endblock %}
