<div class="clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'index' %}" class="{% if title == 'магазин' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'products:index' %}" class="{% if title == 'каталог' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'contacts' %}" class="{% if title == 'контакты' %}active{% endif %}">контакты</a></li>

        <li class="auth">
            {% if user.is_authenticated %}
                <div class="dropdown">
                  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.first_name|default:'Пользователь' }}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item inline-block" href="{% url 'auth:edit' %}">Профиль</a></li>
                    <li><a class="dropdown-item inline-block" href="{% url 'auth:logout' %}">Выход</a></li>
                      {% if user.is_staff %}
                        <li><hr class="dropdown-divider inline-block"></li>
                        <li><a class="dropdown-item inline-block" href="{% url 'admin_staff:users' %}">Менеджер</a></li>
                        {% if user.is_superuser %}
                            <li><a class="dropdown-item inline-block" href="/admin/">Админ</a></li>
                        {% endif %}
                      {% endif %}
                  </ul>
                </div>
            {% else %}
                <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>


    </ul>
    <a href="{% url 'cart:index' %}" class="basket">
        <i class="fa fa-shopping-cart"></i>
        {% if count %}
            <span id="badge_count" class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger">
                {{ count }}
            </span>
        {% endif %}
        {% if total_cost %}
            <span id="badge_cost" class="ms-2 badge text-secondary fs-6 fw-normal cart-price">{{ total_cost }} &#8381; </span>

        {% endif %}
    </a>

</div>
